snippet html "Custom HTML basic structure with the lang attribute" b
<!DOCTYPE html>
<html lang="zh_CN">
	<head>
		<meta charset="utf-8">
		<title>${1:`!p snip.rv = snip.basename.replace('-', ' ').capitalize()`}</title>
	</head>
	<body>
		${2:body}
	</body>
</html>
endsnippet
